img{
height: 300px;
margin-top: 10px;
margin-bottom: 10px;
border-radius: 10px;
}

.test_image_and_result{
    margin-top: 15px;
     background-color: rgb(155, 153, 153);
      border-radius: 10px; box-shadow: 1px 1px 25px grey;
       width: 99%; 
       margin-bottom: 15px;
}

span{
    letter-spacing: 2px; 
    color: red;
}

.white_1{
    color: white;
}

.first{
    background-color: white;
    border-radius: 10px;
    line-height: 2;
}

.bottom1{
  font-weight: bold;
  font-size: 15px;  
  width: 35%;
  color: brown;
}